
#*********************
#**Unity Generated****
#*********************
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump

#*********************
#**VS/Mono Generated**
#*********************

[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

#*********************
#**OS Generated*******
#*********************
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db




Assets/Art Assets/Imported Assets/01_3D/ETC/3D Bakery Object/FBX/Texture/Thumbs.db.meta
